<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<sit-simple-image [config]="carrersImage"></sit-simple-image>
<sit-simple-text [config]="simpleTextTitle"></sit-simple-text>
<div class="container">
  <div *ngIf="created"
       class="alert alert-success">

    Your application has been sent

  </div>
  <form  (ngSubmit)="submit()" #f="ngForm" *ngIf="!created">

    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <input type="text" placeholder="Your name" class="form-control" id="input-name" [(ngModel)]="career.name" name="name" #name="ngModel" required >
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>

        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <input type="email" placeholder="Your email" class="form-control" id="input-email" [(ngModel)]="career.email" name="email" #email="ngModel" required
               pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$">
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="! email.valid && !email.errors.required"> Email adress is invalid</div>

        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <input type="text" placeholder="Job Tiltle" class="form-control" id="input-job-title" [(ngModel)]="career.jobTitle" name="jobTitle" #jobTitle="ngModel" required >
        <div *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)"
             class="alert alert-danger">
          <div *ngIf="jobTitle.errors.required">
            Job Title is required.
          </div>

        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2 file-input-label">
        <div id="first-label-input-file">
          <p>UPLOAD YOUR RESUME</p>
        </div>
        <div id="second-label-input-file">
          <p>Only Pdf And Docx Are Supported</p>
        </div>
      </div>
    </div>

    <div class="form-group row">
        <div class=" col-sm-10 offset-sm-2">
          <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile"  name="single" ng2FileSelect [uploader]="uploader">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
    </div>

    <div class="form-group row">
    <div class="col-sm-10 offset-sm-2" id="send-button">
      <button class="btn btn-block" type="submit" >Send</button>

    </div>
    </div>
  </form>
</div>
