@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}
.file-input-label {
  font-size: 24px;
  margin-top: 2%;
}
#first-label-input-file {
  font-family: avenirNextMedium;
  font-size: 18px;
  color: #4a4a4a;
}
#second-label-input-file {
  color: #9B9B9B;
  font-size: 18px;
  font-family: avenirNextMedium;

}
button{
  background-color: #EA771C;
  color: #FFFFFF;
  font-family: avenirNextDemi;
  font-size: 24px;
  letter-spacing: -0.6px;
}
#send-button {
  margin-bottom: 200px;
}
.ng-valid[required], .ng-valid.required  {
  border-right: 3px solid #42A948 ; /* green */
}

.ng-invalid:not(form)  {
  border-right: 3px solid #a94442 ; /* red */
}

