
<!-- Promo Block -->
<div class="container dzsparallaxer auto-init height-is-based-on-content use-loading"
     data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>

  <div class="container text-center g-bg-cover__inner g-py-120">
    <div class="g-mb-50 g-mb-60--md">
      <h1 class="g-color-white g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">Unify
        <span class="g-font-size-30">v</span>2.4</h1>
      <h2 class="g-color-white-opacity-0_8 g-font-weight-300 g-font-size-20 g-font-size-25--sm g-font-size-35--md">Start
        a new project with easy to use
        <br> <span class="g-color-primary g-font-weight-700">1610+ Reusable </span> UI Components</h2>
    </div>

    <!-- Social Networks -->
    <div class="row justify-content-center">
      <div class="col-md-3 g-brd-right--md g-brd-white-opacity-0_3 g-mb-30 g-mb-0--md">
        <h3 class="h6 g-color-white mb-3">Like Us on Facebook</h3>
        <div class="fb-like" data-href="http://facebook.com/htmlstream" data-layout="button_count" data-action="like"
             data-show-faces="false" data-share="false"></div>
      </div>
      <div class="col-md-3">
        <h4 class="h6 g-color-white mb-3">Follow Us on Twitter</h4>
        <a href="https://twitter.com/htmlstream" class="twitter-follow-button" data-show-count="false">@htmlstream</a>
      </div>
    </div>
    <!-- End Social Networks -->
  </div>
</div>
<!-- End Promo Block -->
