<sit-simple-image [config]="simpleImagePaygate"></sit-simple-image>
<div class="container">
  <sit-simple-text [config]="simpleTextTitle"></sit-simple-text>
<sit-simple-text [config]="simpleTextPaygateWorksAsFollow"></sit-simple-text>

<div class="row">
  <div class="col-md-6">
<sit-simple-text [config]="simpleTextParagrapNextToImage"></sit-simple-text>
  </div>
  <div class="col-md-6">

<sit-simple-image [config]="simpleImage"></sit-simple-image>
  </div>
</div>
  <div class="row">
  <div class="col-md-6">
  <sit-simple-text [config]="simpleTextParagrapAfterImage"></sit-simple-text>
  </div>
  </div>
</div>
