@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}
