<!-- Footer -->
<div class="footer container-fluid">
  <div class="footer-background g-color-white-opacity-0_8 g-py-60">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
  <!-- End Footer -->

  <!-- Copyright Footer -->
  <footer class="footer-background  g-color-white-opacity-0_8 g-py-20">
    <div class="container ">
      <div class="col-md-12 text-center  ">
        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md" >Copyright  © 2017 All Rights Reserved Diagnostic Surveillant and Instrumentations</small>


        <p >58, March 2nd Avenue | PO BOX:2000 | Location: Bardo | Gouvernement : Tunis | Country : Tunisia | Tel : (+216)71 58 38 88 - (+216)71 58 58 11 | Fax : (+216)71 52 33 00 </p>
      </div>


    </div>
  </footer>
  <!-- End Copyright Footer -->

</div>
