.img{
    width: 300px;
    height: 200px;
    border-radius: 7px;
}
.img_1 {
    width:300px;
    height: 400px;
    border-radius: 7px;
    
}
.banner_image{
   width: 100%;
   height: 100%;
    box-shadow: 3px 5px 5px rgb(82, 69, 69);
}
  
  h1{
      color: rgb(238, 226, 226);
      font-size: 100px;
        text-shadow: 5px 3px 3px black;
    }
    
    .article_zone{
        margin-top: 100px;
      
    }
    h5{
        color: blue;
    }
    .article_title{
        font-size: 50px;
        font-weight: bold;
    }
    .article_content{
        text-align: start;
    }
    .article_introduction{
        position: relative;
    }
    .article_introduction:after{
        position: absolute;
        bottom: 0;  
        height: 100%;
        width: 100%;
        content: "";
        background: linear-gradient(to top,
           rgba(255,255,255, 1) 20%, 
           rgba(255,255,255, 0) 80%
        );
        
    }
    
    
    .footer{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .boots{
height: 100%;
width: 100%;

    }
    video{
        margin: 25px;
        width: 90%;
        box-shadow: 5px 5px 15px  rgb(90, 72, 72);
    }

    .sponsor_zone{
        font-weight: bold;
        font-size: 25px;
    }
  .sponsor_list{
      text-align: center;
  }
  h6{
      cursor: pointer;;
  }