
<div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <img class="banner_image"
          src="../../assets/banner.jpeg" alt="">
        </div>
      
    </div>
  <div class="row mt-5" *ngIf="show_bool">
    <div class="col-md-3 col-sm-12">
      <video   controls>
        <source src="../../assets/bg5.mp4" type="video/mp4">
       

      </video>
      <video  controls>
       
        <source src="../../assets/bg8.mp4" type="video/mp4">
       

      </video>
      <video  controls>
        <source src="../../assets/bg6.mp4" type="video/mp4">

      </video>
    </div>
    <div class="col-md-6 col-sm-12 article">

      <div class="article_zone" >
        <div *ngFor="let item of articleIdArray" class="article_content mb-5" ngsReveal>
          <h5>{{item.category}}</h5>
          <h2 class="article_title">{{item.articleTitle}}</h2>
          <div class="article_introduction">
            <p class="">{{item.introduction}}</p>
          </div>
          <h6 routerLink="article/{{item.id}}" (click)="pusharticleida(item.id)">Read More...</h6>
          <hr>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <h3 class="sponsor_zone mt-5 mb-4">Register and become a sponsor </h3>
      <form action="" class="form-group">
        <div class="row mb-2">
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="your name">
          </div>
          <div class="col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Your Company">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <input type="email" class="form-control" placeholder="Your Email">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <select  class="form-control">
              <option value="Developer" selected>Developer</option>
              <option value="Company">Company</option>
              <option value="Student">student</option>
            </select>
          </div>
        </div>
        <input type="submit" class="btn btn-secondary">
      </form>
<hr>
<hr>
      <div class="row mt-5 sponsor_list">
        <h4>
          Our Sponsors
        </h4> 
      </div>
     
    </div>
  </div>

  <router-outlet></router-outlet>
  <footer class=" mt-5 ">
    <div class="row footer">
    <div class="col-md-3 col-sm-6  ">
      <img class="boots"
        src="https://bs-uploads.toptal.io/blackfish-uploads/blog/post/seo/og_image_file/og_image/15063/REDESIGN-Speeding-up-Application-Development-with-Bootstrap-Luke_Social-3b49f4c2abf94e39b2f311ed9f0c3785.png"
        alt="">
    </div>
    <div class="col-md-3 col-sm-6 ">
      <img class="boots"
        src="https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2019/04/angular-homepage.jpg" alt="">
    </div>
    <div class="col-md-3 col-sm-6">
      <img class="boots"
        src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/108383635/original/626f1fda69305efcb5076c8af2be5393c53ecda4/develop-and-fix-reactjs-web-application.png"
        alt="">
    </div>
  </div>
  </footer>
</div>