@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}

.product-image {
  margin-top: 3%;
}

#second-row {
  margin-top: 5%;
}

#second-row-client {
  margin-top: -4%;
}

#logo-carrefour {
  text-align: right;
  margin-top: -60px;
}

#logo-orange {
  text-align: center;
  margin-top: 63px;
}

#logo-abertis {
  padding-top: 90px;
}

#header-sub-img {
  margin-top: 3%;
}

.header-subtitle {
  margin-top: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;

}

.header-subtitle-first-part {
  color: #814A89;
  font-size: 36px;
  font-family: 'avenirNext';
}

.header-subtitle-second-part {
  color: #000;
  font-size: 36px;
  font-family: 'avenirNextBold';
}



#intro-content {
  color: #4A4A4A;
  font-size: 22px;
  font-family: 'avenirNext';
}


#iot-img {
  margin-top: 80px;
}

#product-header-title {
  margin-top: 3%;
  text-align: center;
  color: #814A89;
  font-size: 36px;
  font-family: 'avenirNext';
}

.product-item-title {
  font-family: avenirNextMedium;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 50px;
  color: #814A89;
  font-size: 14px;
}
.product-item-description {
  font-family: avenirNextMedium;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  color: #000;
  font-size: 14px;
}

.gradient-text {
  background-image: -webkit-linear-gradient(left, #6C23AE, #EC078E, #F46318); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(left, #6C23AE, #EC078E, #F46318); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(left, #6C23AE, #EC078E, #F46318); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(left, #6C23AE, #EC078E, #F46318); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #6C23AE, #EC078E, #F46318); /* Standard syntax; must be last */
  color: transparent;
  font-family: 'avenirNext';
  font-size: 34px;
  -webkit-background-clip: text;
}


.client-image
{
  min-height: 180px;
  min-width: 180px;
  margin-top: 20px;
}

#client-title
{
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: avenirNextDemi;
  font-size: 24px;
  color: #814A89;
  text-align: center;

}

.gradient-container
{
  align-self: center;
}


#connected-object
{
  margin-top: 75px;
}
@media (min-width: 768px) {
  #intro-content {
    margin-top: 50px;
  }


}
@media screen and  (max-width: 768px) {

  .header-subtitle-first-part {
    font-size: 22px;
  }

  .header-subtitle-second-part {
    font-size: 22px;
  }


  #intro-content {
    font-size: 18px;
  }

  .gradient-text {
    font-size: 20px;
  }
  .gradient-container
  {
   text-align: center;
  }
}
#img-home {
}
#client-planete {
  padding-top: 70px;
}
