<sit-simple-image [config]="homePageImage"></sit-simple-image>

<sit-simple-image [config]="headerSubImage"></sit-simple-image>

<sit-rich-text [config]="richTextRDPole"></sit-rich-text>


<div class="row">
  <div class="col-lg-6 offset-lg-1 col-8 offset-2">
    <div id="intro-content">
      <p><b>PlanetConectUs </b>is a leading IOT solutions provider. Our IOT application development is enabling companies to
        bridge the gap between the real and digital world through a completely new experience. We are proud to have
        one of the fastest and secure connected objects in the world and some of the finest IOT services engineers in
        our talented development team who are focused on innovative design and development. Internet of things services
        is enabling companies to succeed by transforming their business processes, network infrastructure and
        operational models. Our expert team has worked on many IOT related projects, building end to end internet
        of things solutions. The entire spectrum of services <b>PlanetConectUs</b> offers include consultation, development
        and integration of IOT services.</p>

    </div>

  </div>

  <div class="col-lg-5">

    <sit-simple-image [config]="whoWeAreImage"></sit-simple-image>

  </div>


</div>




<sit-simple-image [config]="iotImage"></sit-simple-image>


<div id="product-header-title">OUR PRODUCTS</div>
<div class="container">
  <div class="row">
    <div class="text-center col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <a routerLink="/solutions/paygate"> <sit-simple-image [config]="product1"></sit-simple-image></a>
      <div class="product-item-title">Paygate
      </div>
      <div class="product-item-description"> Use your mobile Bluetooth to open automatically any paygate etc….
      </div>
    </div>

    <div class="text-center col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <a routerLink="/solutions/indoor-position-system">  <sit-simple-image [config]="product2"></sit-simple-image></a>

      <div class="product-item-title">Indoor positioning system
      </div>
      <div class="product-item-description"> IPS can be used to locate people or objects inside buildings,
        typically via a mobile device such as a smart phone or tablet.
      </div>
    </div>

    <div class="text-center col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <sit-simple-image [config]="product3"></sit-simple-image>

      <div class="product-item-title">These small items attach to your belongings
        and communicate in Bluetooth with your
        smartphone or tablet. In case of forgetfulness,
        you are alerted through a dedicated application.
      </div>
    </div>
    <div class="text-center col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <sit-simple-image [config]="product4"></sit-simple-image>

      <div class="product-item-title">smart watch allows you to connect to an
        object with bluetooth.
      </div>
    </div>
  </div>


</div>

<div id="connected-object">

  <sit-simple-image [config]="configImageWorldFatestConnected"></sit-simple-image>

  <div id="client-title"> Our Customers</div>


  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-3">
        <div class="client-image">
          <sit-simple-image [config]="clientDavidson"></sit-simple-image>
        </div>
        <div class="client-image">
          <sit-simple-image [config]="clientOrange"></sit-simple-image>
        </div>
      </div>
      <div class="col-md-6" id="client-planete">
        <sit-simple-image [config]="clientPlanete"></sit-simple-image>
      </div>
      <div class="col-md-3" id="logo-abertis">
        <div class="client-image">
          <sit-simple-image [config]="clientAbertis"></sit-simple-image>
        </div>
        <div class="client-image" id="logo-carrefour">
          <sit-simple-image [config]="clientCarrefour"></sit-simple-image>
        </div>
      </div>
    </div>

  </div>

</div>


