<div class="container">
  <div class="title">
<p>Title</p>
    <div class="row">
    <div class="text col-sm-6">
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>

    <div class="col-sm-6 ">
    <img class="image img-fluid" src="/assets/img-temp/1920x1080/img48.jpg">
    </div>
  </div>
  </div>
</div>
