<sit-simple-image [config]="simpleImageConnectUs"></sit-simple-image>

<div class="container">
  <div class="header-subtitle">OUR PLATFORM</div>
  <br> <br>
  <div class="platform-text">Planet conectus platforms are the ideal companion to the innovators of the world of IoT.
    These Applications make
    it
    easy to the customers a understand the tasks of the productions of a connected object, hwoverver, our paygate needes
    the applications of paltform for gives us a good result .<br>
    <span class="platform-text-bold">Planet conectus platform will give you the ability to manage:</span>
  </div>

  <br> <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="beaconImage"></sit-simple-image>
      <div class="platform-item-text"> IBeacon</div>
    </div>
    <div class="platform-item col-md-2">
       <img id="motion-image" class="platform-image img-fluid" src="/assets/img/planet-connect-us/motion.png" srcset="/assets/img/planet-connect-us/motion-2.png 2x,
/assets/img/planet-connect-us/motion-3.png 3x">
      <div class="platform-item-text"> Motion detection</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="bluetoothImage"></sit-simple-image>

      <div class="platform-item-text"> Bluetooth</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="productionImage"></sit-simple-image>
      <div class="platform-item-text"> Production</div>
    </div>
    <div class="platform-item col-md-2">
      <img id="research-image" class="platform-image img-fluid" src="/assets/img/planet-connect-us/research.png"
           srcset="/assets/img/planet-connect-us/research-2.png 2x, /assets/img/planet-connect-us/research-3.png 3x" >

      <div class="platform-item-text"> Research & development</div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="monitoredImage"></sit-simple-image>
      <div class="platform-item-text"> Monitored</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="directiveImage"></sit-simple-image>
      <div class="platform-item-text"> Directive</div>
    </div>
    <div class="platform-item col-md-2">
      <img id="process-image" class="platform-image img-fluid" src="/assets/img/planet-connect-us/process.png"
           srcset="/assets/img/planet-connect-us/process-2.png 2x, /assets/img/planet-connect-us/process-3.png 3x">
      <div class="platform-item-text"> Process of prototyping</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="communicationImage"></sit-simple-image>
      <div class="platform-item-text">Communication</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="securityImage"></sit-simple-image>
      <div class="platform-item-text">Security</div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="reportingImage"></sit-simple-image>
      <div class="platform-item-text">Reporting</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="tripImage"></sit-simple-image>
      <div class="platform-item-text">Trip</div>
    </div>
    <div class="platform-item col-md-2">
      <img id= "location-image" class="platform-image img-fluid" src="/assets/img/planet-connect-us/location.png"
           srcset="/assets/img/planet-connect-us/location-2.png 2x, /assets/img/planet-connect-us/location-3.png 3x">
      <div class="platform-item-text">Location and
        Geofence
      </div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="maintenanceImage"></sit-simple-image>
      <div class="platform-item-text">Maintenance</div>
    </div>
    <div class="platform-item col-md-2">
      <sit-simple-image [config]="schedulingImage"></sit-simple-image>
      <div class="platform-item-text">Scheduling</div>
    </div>
    <div class="col-md-1"></div>
  </div>


  <div class="col-md-1"></div>
</div>
