@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}


.container
{
 margin-bottom: 100px;
}
.header-subtitle {
  color: #72327C;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
  font-family: avenirNextBold;
  letter-spacing: -0.6px;
}

.platform-text {
  color: #4A4A4A;
  font-size: 18px;
  font-family: avenirNext;
  letter-spacing: -0.45px;

}

.platform-text-bold
{
  color: #4A4A4A;
  font-size: 18px;
  font-family: avenirNextBold;
  letter-spacing: -0.45px;
}

.platform-item
{
  align-self: center;
  text-align: center;
}

.platform-item-text
{
  color: #814A89;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
  font-family: 'avenirNext';
}
.platform-image
{
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
@media (min-width: 992px) {


#research-image{
margin-top: 58px;
}
#location-image {
  margin-top: 57px;
}
#process-image {
  margin-top: 57px;
}
}
@media (min-width: 992px) and (max-width: 1200px){
  #motion-image {
    margin-top: 57px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {


  #research-image{
    margin-top: 89px;
  }
  #location-image {
    margin-top:89px;
  }
  #process-image {
    margin-top: 53px;
  }
  #motion-image {
    margin-top: 53px;
  }
}
