<div class="container-fluid ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="header-content">
                <h1 class="mt-5 mb-5 title_h1">{{articleTitle}}</h1>
            
                <img [src]="img_url" class="image-content">
            </div>
            
            
            <div class="row justify-content-center">
                <div class="verti_line_green dom at" id="vertical_line_1"></div>
                <div class="col-md-11">
                    <hr>
                    <article class="introduction_section" id="introduction_section">
                    </article>
                    <hr>
                </div>
            </div>
            <div class="row mt-5 justify-content-center" id="sub1">
                <h2>{{subTitle_1}}</h2>
            </div>
            <div class="row justify-content-center ">
                <div class="verti_line_green dom at" id="vertical_line_2"></div>
                <div class="col-md-11">
                    <article class="mt-2" id="content_for_subtitle_1_section"></article>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <h2 id="sub2">{{subTitle_2}}</h2><i class="fas fa-angle-double-right fa-5x"></i>
            </div>
            <div class="row justify-content-center ">
                <div class="verti_line_green dom at" id="vertical_line_3"></div>
                <div class="col-md-11">
                    <article class="mt-2" id="content_for_subtitle_2_section">{{content_for_subtitle_2}}</article>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <!--<div class="col-md-3 d-flex justify-content-end" style="margin-top: 50px;">

            <div>
                <h4 class="">Related Article</h4>
                <ul class="list_related_article">
                    <li *ngFor="let item of articlearray"><a
                            [href]='"http://localhost:4200/blog/showarticle/article/"+item.id'>{{item.articleTitle}}</a>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
    <hr>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <form action="" [formGroup]="form_content" (ngSubmit)="submitComment()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="comment">Your comment ...</label>
                            <textarea class="form-control" name="" id="" cols="100" rows="5" id="comment"
                                formControlName="comment_content"></textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

    <div class="" *ngFor="let item of articleCommentsArray">
        <p class="comment_content">{{item.comment_content}}</p>
    </div>

</div>