.title_h1{
    background: -webkit-linear-gradient(rgb(141, 65, 97), rgb(218, 88, 99));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    text-shadow: 5px 0 10px;
    font-family: fantasy;
}
.header-content{
    text-align: center;
}
.image-content{
    box-shadow: 5px 0 25px rgb(56, 46, 46);
    border-radius: 25px;
}
article{
    font-size: 20px;
}
hr{
    width:70%;
}
li{
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
}
a:hover{
    color:green;
    text-decoration: none;
}
a{
    color: black;
}
.list_related_article{
    padding-left: 10px;
}

.verti_line_red{
    background-color:rgb(6, 199, 6);
    width: 7px;
}
#vertical_line_1{
    background-color:green;
    width: 5px;
    height: 10px;
}
.comment_content{
    font-weight: bold;
    font-size: 15px;
}