@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}
.footer-container {
  margin-top: 100px;
}



#social-list {
  height: 40px;
}



#footer-logo {
  margin-top: 10px;
  margin-left: -20px;
}

.footer-link {
  text-decoration: underline;
  font-weight: bold;

}

#footer-copyright {
  color: #FFFFFF;
  font-size: 14px;
  font-family: avenirNext;
  background-color: #312F2F;
  padding-top: 6px;
  padding-bottom: 6px;
}

#copyright-text {
  margin-left: 25px;
}

#footer {
  background-image: url("/assets/img/planet-connect-us/footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #d8d8d8;
  padding-top: 50px;
  padding-bottom: 100px;
  color: #9B9B9B;
}



@media (max-width: 575px) {
  #footer{
    text-align: center;
  }

}

@media (min-width: 575px) {
  #footer{
    padding-left: 50px;  }

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-title {
  font-family: avenirNextMedium;
  font-size: 18px;
}

.follow-us {
  margin-left: 23px;
}

.list-element {
  font-family: avenirNext;
  font-size: 14px;
  letter-spacing: -0.35px;
}

.list-sub-title {
  font-family: avenirNextBold;
}

#contact {
  margin-top: 37px;
}


@media (max-width: 575px) {
  .list-title {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.social-icon {
  float: left;
}

.social-icon:hover{
  color: #FFFFFF;
}

@media (min-width:  576px ){
  #social-facebook {
    margin-left: -15px;
  }
}

@media (max-width: 768px) {
  #copyright-text {
    text-align: center;
  }
}

