<!-- Footer -->
<div class="footer-container">

  <div id="footer">
    <div class="row">

      <div class="col-sm-4" >

      <div>
        <div class="list-title">SOLUTIONS</div>
        <ul class="list-element">
          <li><a class="footer-link" routerLink="/solutions/paygate">Paygate</a> </li>
          <li><a class="footer-link" routerLink="/solutions/indoor-position-system"> Indoor Position System</a></li>
        </ul>
      </div>

      <div id="contact" >
        <div class="list-title"><a class="footer-link" routerLink="/contact">CONTACT US</a></div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="list-title">LOCATIONS</div>
        <ul class="list-element">
          <li class="list-sub-title">France</li>
          <li>Paris</li>
          <li>Tél : (+336) 52 72 42 33</li>
          <li class="list-sub-title">Tunis</li>
          <li>Pole technologie manouba</li>
          <li>Tél : (+216) 26 41 09 47</li>
        </ul>

      </div>
      <div class="col-sm-4">
          <div class="list-title follow-us">FOLLOW US</div>
          <div id="social-list">

            <a class="btn btn-social-icon btn-facebook"
               href="https://www.facebook.com/PlanetConectus"
               target="_blank"><i
              class="fa fa-facebook"></i></a>

            <a class="btn btn-social-icon btn-linkedin"
               href="https://www.linkedin.com/in/planet-conectus-003225140/"
               target="_blank"><i class="fa fa-linkedin"></i></a>

            <a class="btn btn-social-icon btn-twitter"
               href="https://twitter.com/PlanetConectus"
               target="_blank"
               target="_blank"><i class="fa fa-twitter"></i></a>

          </div>
          <div id="footer-logo" >
            <img src="/assets/img/planet-connect-us/logo-footer.png" srcset="assets/img/planet-connect-us/logo-footer-2.png 2x, assets/img/planet-connect-us/logo-footer-3.png 3x">
          </div>

      </div>

    </div>

  </div>
  <!-- End Footer -->

  <!-- Copyright Footer -->
  <footer id="footer-copyright">
    <div id="copyright-text">© {{today | date:'y'}} PlanetConectus. All Rights Reserved</div>
  </footer>
  <!-- End Copyright Footer -->

</div>
