<sit-simple-image [config]="configImageContactUs"></sit-simple-image>
<sit-simple-text [config] = "simpleTextTitle"></sit-simple-text>

<div class="container">
  <div *ngIf="created"
       class="alert alert-success">

    Your message has been sent

  </div>
  <form  (ngSubmit)="submit()" #f="ngForm" *ngIf="!created">

    <div class="form-group row">
      <label for="input-lastname" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-lastname" [(ngModel)]="contact.lastname" name="lastname" #lastname="ngModel" required >
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
             class="alert alert-danger">
          <div *ngIf="lastname.errors.required">
            Name is required.
          </div>

        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-firstname" class="col-sm-2 col-form-label">Firstname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-firstname" [(ngModel)]="contact.firstname" name="firstname" #firstname="ngModel" required>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
             class="alert alert-danger">
          <div *ngIf="firstname.errors.required">
            Firstname is required.
          </div>

        </div>

      </div>
    </div>

    <div class="form-group row">
      <label for="input-email" class="col-sm-2 col-form-label">E-mail adress</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="input-email" [(ngModel)]="contact.email" name="email" #email="ngModel" required
               pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$">
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="! email.valid && !email.errors.required"> Email adress is invalid</div>

        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="input-message" class="col-sm-2 col-form-label">Message</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="input-message" rows="3" [(ngModel)]="contact.message" name="message" #message="ngModel" required></textarea>
        <div *ngIf="message.invalid && (message.dirty || message.touched)"
             class="alert alert-danger">
          <div *ngIf="message.errors.required">
            Message is required.
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-10 offset-sm-2"  id="send-button">
      <button class="btn btn-block" type="submit" >Send</button>

    </div>
  </form>
</div>
