<sit-simple-image [config]="configImageIOTConnectAllThings"></sit-simple-image>
<div class="container">
<sit-simple-text  [config]="simpleTextTitle"></sit-simple-text>
<sit-simple-text  [config]="simpleTextContent"></sit-simple-text>
  <div class="container">

    <div *ngIf="created"
         class="alert alert-success">

      Your message has been sent

    </div>
    <form (ngSubmit)="submit()" #f="ngForm" *ngIf="!created">
      <div class="form-group row">
        <label for="input-firstname" class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-firstname" [(ngModel)]="partnership.firstname" name="firstname" #firstname="ngModel" required>
          <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
               class="alert alert-danger">
            <div *ngIf="firstname.errors.required">
              Firstname is required.
            </div>

          </div>

        </div>
      </div>
      <div class="form-group row">
        <label for="input-lastname" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-lastname" [(ngModel)]="partnership.lastname" name="lastname" #lastname="ngModel" required >
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
               class="alert alert-danger">
            <div *ngIf="lastname.errors.required">
              Name is required.
            </div>

          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-job-title" class="col-sm-2 col-form-label">Job Tile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-job-title" [(ngModel)]="partnership.jobTitle" name="jobTitle" #jobTitle="ngModel" required >
          <div *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)"
               class="alert alert-danger">
            <div *ngIf="jobTitle.errors.required">
              Job Title is required.
            </div>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-phone-number" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-phone-number" [(ngModel)]="partnership.phone" name="phone" #phone="ngModel" required >
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
               class="alert alert-danger">
            <div *ngIf="phone.errors.required">
              Phone is required.
            </div>

          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-email" class="col-sm-2 col-form-label">E-mail adress</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="input-email" [(ngModel)]="partnership.email" name="email" #email="ngModel" required
                 pattern="^[\w-]+(?:\.[\w-]+)*@(?:[\w-]+\.)+[a-zA-Z]{2,7}$">
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="! email.valid && !email.errors.required"> Email adress is invalid</div>

          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-company" class="col-sm-2 col-form-label">Company Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-company" [(ngModel)]="partnership.company" name="company" #company="ngModel" required >
          <div *ngIf="company.invalid && (company.dirty || company.touched)"
               class="alert alert-danger">
            <div *ngIf="company.errors.required">
              Company Name is required.
            </div>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-country" [(ngModel)]="partnership.country" name="country" #country="ngModel" required >
          <div *ngIf="country.invalid && (country.dirty || country.touched)"
               class="alert alert-danger">
            <div *ngIf="country.errors.required">
              Country is required.
            </div>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-contactPurpose" class="col-sm-2 col-form-label">Purpose of partnership</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-contactPurpose" [(ngModel)]="partnership.contactPurpose" name="contactPurpose" #contactPurpose="ngModel" required >
          <div *ngIf="contactPurpose.invalid && (contactPurpose.dirty || contactPurpose.touched)"
               class="alert alert-danger">
            <div *ngIf="contactPurpose.errors.required">
              Purpose of partnership is required.
            </div>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="input-subject" class="col-sm-2 col-form-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input-subject" [(ngModel)]="partnership.subject" name="subject" #subject="ngModel" required >
          <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
               class="alert alert-danger">
            <div *ngIf="subject.errors.required">
              Subject of partnership is required.
            </div>

          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-message" class="col-sm-2 col-form-label">Message</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="input-message" rows="3" [(ngModel)]="partnership.message" name="message" #message="ngModel" required></textarea>
          <div *ngIf="message.invalid && (message.dirty || message.touched)"
               class="alert alert-danger">
            <div *ngIf="message.errors.required">
              Message is required.
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-10 offset-sm-2"  id="send-button">
        <button class="btn btn-block" type="submit" >Send</button>

      </div>
    </form>
  </div>

</div>
