@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}

form {
  margin-top: 5%;
}
label {
  color: #72327C;
  font-family: avenirNextDemi;
  font-size: 18px;
  letter-spacing: -0.45px;
}
button{
  background-color: #EA771C;
  color: #FFFFFF;
  font-family: avenirNextDemi;
  font-size: 24px;
  letter-spacing: -0.6px;
}
#send-button {
  margin-bottom: 200px;
}
.ng-valid[required], .ng-valid.required  {
  border-right: 3px solid #42A948 ; /* green */
}

.ng-invalid:not(form)  {
  border-right: 3px solid #a94442 ; /* red */
}
