<!-- News Block -->
<section class="container-fluid ">
  <div class="row justify-content-center col-xs-12 col-sm-12 ">
    <div class="  ">
      <img class="img-responsive" id="icon-products" src="/assets/img/icons/newproducts-icon.png">
      <!-- Heading -->
      <div class="text-center mb-4">
        <h2 class="h3 text-uppercase mb-3">PRODUCTS</h2>
      </div>
      <!-- End Heading -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 g-mb-30">

      <!-- End Article -->
    </div>
  </div>
</section>
<!-- End News Block -->
<div class="container  u-shadow-v11 rounded g-pa-20 g-mb-10">
  <div class="media-body">
    <div class="row">

      <div class="title-list-element liste-float-left col-sm-4 col-xs-4"><p>Vibration</p>
        <ul class="element-simple">
          <li>Sensors</li>
          <li>Monitoring System</li>
          <li>Système portable</li>
          <li>Logiciel d'analyse</li>
        </ul>
      </div>

        <div class="title-list-element col-sm-4 col-xs-4">Thermographie

          <ul class="element-simple">
            <li>Cameras IR FLIR</li>
            <li>Produits HGH</li>
            <li>Hublots Infrarouge</li>
          </ul>
        </div>
      <div class="title-list-element col-sm-4 col-xs-4">Algnement Laser</div>
    </div>
    <div class="row">
      <div class="title-list-element liste-float-left col-sm-4 col-xs-4">
        Acoustiques
      </div>

      <div class="title-list-element liste-float-left col-sm-4 col-xs-4">Test & Protection
        <ul class="element-simple">
          <li>Valise de test</li>
          <li>Relais deprotection</li>
        </ul>

      </div>

      <div class="title-list-element col-sm-4 col-xs-4">Débitmètre et pression</div>
    </div>
  </div>
</div>
