
<div *ngIf="config.template == 'planet-connect-us'">
  <sit-footer-planet-connect-us [config] = config></sit-footer-planet-connect-us>
</div>
<div *ngIf="config.template == 'unify'">
<sit-footer-unify [config]="config"></sit-footer-unify>
</div>
