<!-- Header -->

<div>

  <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light">
    <div class="{{config.containerType}}">
      <button
        class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
        type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Logo -->
      <a *ngIf="config.logo" routerLink="{{config.logo.routerLink}}" class="navbar-brand">
        <img src="{{config.logo.src}}" alt="Image Description" class="img-fluid img-res" >
      </a>
      <!-- End Logo -->
      <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul *ngIf="config.menu" class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ">


          <li *ngFor="let item of config.menu.content" class="dropdown g-mx-10--lg g-mx-15--xl ">
            <a>
                  <span dropdown (onShown)="onShown()"
                        (onHidden)="onHidden()"
                        (isOpenChange)="isOpenChange()">
  <a *ngIf="item.routerLink" href dropdownToggle (click)="false" [ngStyle]="item.style" routerLink="{{item.routerLink}}" class="nav-link g-py-7 g-px-0">{{item.name}}</a>
      <a *ngIf="!item.routerLink" href dropdownToggle (click)="false" [ngStyle]="item.style" class="nav-link g-py-7 g-px-0">{{item.name}}</a>
                    <div *ngIf="item.submenu">
                            <ul *dropdownMenu class="dropdown-menu">
                              <li *ngFor="let choice of item.submenu">
                                <a class="dropdown-item" routerLink="{{choice.routerLink}}">{{choice.name}}</a>
                              </li>
                            </ul>
                      </div>
                  </span>
            </a>
          </li>



          <li>
            <div class="row">
              <div class="search">
                <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search"/>
                <button type="submit" class=" btn-search btn-primary btn-sm">Search</button>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</div>

<!-- End Header -->
