#search {
  float: right;
  margin-top: 9px;
  width: 250px;
}

.search {
  padding: 5px 0;
  width: 230px;
  height: 30px;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
}

.search input {
  position: absolute;
  width: 0px;
  float: Left;
  margin-left: 210px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  height: 30px;
  line-height: 18px;
  padding: 0 2px 0 2px;
  border-radius:1px;
}

.search:hover input, .search input:focus {
  width: 200px;
  margin-left: 0px;
}

.btn-search {
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  border-radius:1px;
}
.btn {
  height: 40px;
  position: absolute;
  right: 0;
  top: 5px;
  border-radius:1px;
  margin-top: 3%;
  margin-right: 5%;
}

@media (max-width: 575.99px) {
  .img-res {
    width: 100px;
    margin-top: 5%;
  }
  .navbar-toggler {
    margin-top: 5%;
  }
}
@media (min-width: 575.99px) and (max-width: 992px) {
  .img-res {
    width: 142px;
    margin-top: 10%;

  }
  .navbar-toggler {
    margin-top: 5%;
  }
}
@media (min-width: 992px) {
  .img-res {
    width: 200px;
  }
}
