<!-- Header -->
<div *ngIf="config.template == 'bootstrap'">
<sit-header-bootstrap [config] = config></sit-header-bootstrap>
</div>
<div *ngIf="config.template == 'unify'">
  <sit-header-unify [config] = config></sit-header-unify>
</div>
<!-- End Header -->
