<div class="container">
  <div class="col-lg-8" >
    <h1 [ngStyle]="config.title.style">{{config.title.text}}</h1>
    <div *ngFor="let item of config.content.text">
    <p>{{item}}</p>
    </div>
  </div>

  <div>
    <button class="btn btn-lg" [ngStyle]="config.button.style">{{config.button.text}}</button>
  </div>
</div>
