<sit-simple-image [config]="simpleImageIndoorPositionSystem"></sit-simple-image>
<div ngClass="container">

  <sit-simple-text [config]="simpleTextTitle"></sit-simple-text>
  <div class="sub-title">
    <sit-simple-text [config]="simpleTextDynamicIndoorNavigationTitle"></sit-simple-text>
  </div>
  <div class="row">
    <div class="col-md-12">
      <sit-simple-text [config]="simpleTextDynamicIndoorNavigation"></sit-simple-text>
    </div>

  </div>


  <div class="row" id="location-based-notifications-row">



    <div class="col-md-12 order-first order-md-2 sub-title ">
      <sit-simple-text [config]="simpleTextLocationBasedNotificationsTitle"></sit-simple-text>
    </div>

  </div>
  <div class="sub-title" id="use-cases-title">
    <sit-simple-text [config]="simpleTextUseCasesTitle"></sit-simple-text>
  </div>
  <div class="row" id="uses-cases-row">
    <div class="col-md-6">
      <sit-simple-text [config]="simpleTextUseCases"></sit-simple-text>
    </div>
    <div class="col-md-6">
      <sit-simple-image [config]="simpleImageUseCases"></sit-simple-image>
    </div>
  </div>

</div>
