@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}
#location-based-notifications-row {
  margin-top:5% ;
}
@media (min-width: 768px) {
  #use-cases-title {
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  .sub-title {
    margin-top: 50px
  }
  #location-based-notifications-text {
    margin-top: 50px;
  }
}
@media (width: 768px) {
  #img-ips {
    margin-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 1199px){
  #img-indoor {
    margin-top: 80px;
  }
}
