<sit-simple-image [config]="simpleImageAboutUs"></sit-simple-image>


<div class="container">

  <div class="header-subtitle">ABOUT US</div>
  <div class="row">

    <div class="col-md-12">
      <div class="about-us-text">
        <br><br>
        <b>PlanetConectUs</b> is a leading IOT solutions provider. We are empowering companies to connect and scale efficiently by enabling them to deliver innovative IOT powered solutions.
        Our IOT application development is enabling companies to bridge the gap between the real and digital world through a completely new experience.

      </div>
      <div>
        <br>
          <div class="about-us-text">
            We are proud to have one of the fastest and secure connected objects in the world and some of the finest
            IOT services engineers in our talented development team who are focused on innovative design and
            development. Internet of things services is enabling companies to succeed by transforming their
            business processes, network infrastructure and operational models. Our expert team has worked on many
            IOT related projects, building end to end internet of things solutions. The entire spectrum of services
            <b>PlanetConectUs</b> offers include consultation, development and integration of IOT services.
          </div>
      </div>
    </div>

  </div>


</div>
