@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}


.container
{
 margin-bottom: 100px;
}
.header-subtitle {
  color: #72327C;
  font-size: 24px;
  margin-top: 30px;
  font-family: avenirNextDemi;
  letter-spacing: -0.6px;
}

.about-us-text {
  color: #4A4A4A;
  font-size: 22px;
  font-family: avenirNext;
  letter-spacing: -0.45px;

}


