
<sit-simple-slide></sit-simple-slide>
<sit-simple-text [config] = "configSimpleText"></sit-simple-text>
<sit-simple-image [config]="configSimpleImage"></sit-simple-image>
<sit-simple-widget></sit-simple-widget>

<sit-widget-product></sit-widget-product>

<sit-call-to-action [config]="configCallToAction"></sit-call-to-action>
