@font-face {
  font-family: avenirNextBold;
  src: url("/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenirNextMedium;
  src: url("/assets/font/AvenirNextLTPro-MediumCn.otf");
}

@font-face {
  font-family: avenirNextDemi;
  src: url("/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenirNext;
  src: url("/assets/font/AvenirNextLTPro-Cn.otf");
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #9dbf10;
}

.sub-menu-item-active {
  background-color: #ffffff !important;
  color: #9dbf10 !important;
}

.toggle-responsive-menu {
  height: 40px;
  position: absolute;
  top: 42.5px;
  right: 0;
  border-radius:1px;
  outline: none;
}

.toggle-responsive-scroll {
  top: 20px;
}


.logo-scroll {
  max-height: 80px!important;
  height: 80px!important;
}

.menu-label{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-container-scroll > li {
  max-height: 80px;
  height: 80px;
  line-height: 80px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.img-logo {
  max-height: 125px;
}

.navbar-brand-planetconectus {
  padding-top: 0px;
  padding-bottom: 0px;
}


#mainNavbar {
  box-shadow: 0 0 10px   #ddd;
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}

.menu-container {
  padding: 20px;
}

.menu-item {
  padding: 5px;
}


.menu-item:hover {
  background-color: #9dbf10cc !important;
  opacity: 0.7;
  color: #FFFFFF !important;
}

.menu-item:hover > a {
  color: #FFFFFF !important;
}

.dropdown-item {
  line-height: 35px;
}

.menu-item-active > a {
  color: #9dbf10 !important;
}

.menu-item-active {
  font-weight: bold;
  background-image: url(/assets/img/planet-connect-us/border.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media (min-width: 992px) {



  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #9dbf10 !important;
    color: #FFFFFF !important;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu li a:hover {
    border: none !important;

  }

  .menu-container {
    padding: 0px;
  }





  .menu-item {
    height: 125px;
    line-height: 125px;
    min-width: 90px;
    max-width: 90px;
    margin-left: 10px;
    text-align: center;
    padding: 0px;
  }

  .menu-item-active {
    background-position: center bottom;
  }
}
