<!-- Header -->
<div id="header">
  <div>
    <nav id="mainNavbar" class="navbar  navbar-expand-lg fixed-top navbar-light ">

      <div class="{{config.containerType}}">
        <button #toggleresponsivemenubutton class="navbar-toggler navbar-toggler-right toggle-responsive-menu"
          type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapsed()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--Logo-->
        <a *ngIf="config.logo" routerLink="{{config.logo.routerLink}}" class="navbar-brand navbar-brand-planetconectus">
          <img #logo src="{{config.logo.src}}" srcset="{{srcet}}" alt="Image Description" class="img-fluid img-logo">
        </a>
        <!--End Logo-->
        <div class="menu-container" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
          <ul #menucontainerlist *ngIf="config.menu.content"
            class="navbar-nav text-uppercase nav justify-content-end mx-auto">

            <ng-container *ngFor="let item of config.menu.content;let i = index">
              <li class="menu-item" [ngClass]="{'menu-item-active': menuActiveLinks[item.name]['active']}"
                *ngIf="!item.submenu" (click)="onMenuItemClicked()">
                <a class="menu-label" *ngIf="item.routerLink" [ngStyle]="item.style"
                  routerLink="{{item.routerLink}}">{{item.label}}</a>
              </li>
              <li #menuitem class="menu-item dropdown"
                  *ngIf="item.submenu">
                <a [ngStyle]="item.style">{{item.label}}</a>
                <div class="dropdown-menu" (click)="onMenuItemClicked()">
                  <a *ngFor="let choice of item.submenu" [ngStyle]="choice.style" class="dropdown-item"
                    routerLink="{{choice.routerLink}}">{{choice.name}}</a>
                </div>
              </li>
            </ng-container>

          </ul>


        </div>

      </div>

    </nav>

  </div>

</div>
<!-- End Header -->